<h2>My Todos</h2>
<div class="container">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
            <th>Description</th>
            <th>Days Left</th>
            <th>Complete</th>
        </tr>
      </thead>
      <tbody>
        <% @user.items.each do |item| %>
          <%= render partial: 'items/item', locals: { item: item, user: @user } %>
        <% end %>
      </tbody>
        <%= render partial: 'items/form' %>
    </table>
  </div>


</div>
