<div class="container">
  <div class="row row-bottom-padded-lg" id="about-us">
    <div class="col-md-12 section-heading text-center">
      <h2 class="to-animate">About Blocitoff</h2>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 to-animate">
          <h3>Ever wanted to make a simple to-do list that self expires after 7 days? Look no further!</h3>
        </div>
      </div>
    </div>
    <div class="col-md-8 to-animate">
      <img alt="some image when logged in (prob wiki index)" class="img-responsive img-rounded" src="">
    </div>
    <div class="col-md-4 to-animate">
      <h2>To-Do List</h2>
      <p>Create a list to help maintain and organize all the tasks you need to complete.</p>
      <p>Just remember that there is a 7 day time limit before they expire and after 15 days they are permantly deleted! </p>
    </div>
  </div>

</div>
