<div class="container">
  <div class="row row-bottom-padded-sm">
    <div class="col-md-12 section-heading text-center">
      <h2 class="to-animate">Features</h2>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 to-animate">
          <h3>Some big, some small, but everything was coded by me!</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="box to-animate">
        <div class="icon colored-1">
          <span>
            <i class="fa fa-list-alt"></i>
          </span>
        </div>
        <h3>Unlimited List Tasks</h3>
        <p>You can add as many tasks as you want to the list</p>
      </div>
      <div class="box to-animate">
        <div class="icon colored-4">
          <span>
            <i class="fa fa-ban"></i>
          </span>
        </div>
        <h3>Self Expiring!</h3>
        <p>After 7 days your task will automatically expire, but you can still try again!</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box to-animate">
        <div class="icon colored-2">
          <span>
            <i class="fa fa-desktop"></i>
          </span>
        </div>
        <h3>Fully responsive</h3>
        <p>This site not only works on your desktop, but even your ipad and mobile!</p>
      </div>
      <div class="box to-animate">
        <div class="icon colored-5">
          <span>
            <i class="fa fa-github"></i>
          </span>
        </div>
        <h3>Open Source</h3>
        <p>Feel free to take and use this code however you want, hopefully it will be able to help you learn something new</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box to-animate">
        <div class="icon colored-3">
          <span>
            <i class="fa fa-code"></i>
          </span>
        </div>
        <h3>Open API</h3>
        <p>This feature is currently being implemented for later use.</p>
      </div>
      <div class="box to-animate">
        <div class="icon colored-6">
          <span>
            <i class="fa fa-users"></i>
          </span>
        </div>
        <h3>Share you List</h3>
        <p>This feature is currently being implemented for later use.</p>
      </div>
    </div>
  </div>
</div>
