<% if @user == current_user %>
  <tr>
    <%= form_for [@user, Item.new], html: {class: 'item-form'} do |f| %>
      <td><%= f.text_field :name, class: 'form-control col-xs-10', placeholder: "New Task" %></td>
      <td><%= f.submit "Save", class: "btn btn-primary col-xs-2" %></td>
    <% end %>
  </tr>
<% end %>
