<tr class="change-icon">
  <td><%= item.name %></td>
  <td class="text-center"> <%= time_remaining(item, filter) %> </td>
  <td class="text-center" style="<%= filter == 'current' ? 'padding:0;' : '' %>"><%= completed_status(item, user, filter) %></td>
</tr>
