<tr class="change-icon">
  <td><%= item.name %></td>
  <td class="text-center"> <%= time_remaining(item) %> </td>
  <td class="text-center"><%= link_to "", user_item_path(user.id, item.id), method: :delete, class: 'fa fa-2x fa-square-o' %></td>
</tr>
