.table {
  thead {

    tr {
      border-bottom: 10px solid $dark-blue;
      background: $teal;
      th {
        font-size: 1.25em;
      }
    }
  }

  tbody tr{
    border-bottom: 4px solid $teal;
    td {
      vertical-align: middle;
    }
  }
}

.item-form {
  input.form-control {
    display: inline;
    width: 82%;
    margin-left:0.5%;
  }

}
.fa-square-o {
  color: $teal;
}
.change-icon:hover .fa-square-o:before {
    content: "\f046";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: black;

}

.btn-group {
  margin-bottom: 10px;
  a {
    margin-left: 10px;
    margin-right: 10px;
  }
}
