.table {
  thead {

    tr {
      border-bottom: 10px solid $pastal-red;
      background: $teal;
      th {
        font-size: 1.25em;
      }
    }
  }


  tbody tr{
    border-bottom: 4px solid $teal;
  }
}
